*{
				padding: 0px;
				margin: 0px;
				list-style: none;
			}
			.images{
				width: 480px;
				height: 281px;
				position: absolute;
				top: 38%;
				overflow: hidden;
				/* 居中 */
				left: 75%;
				margin-left: -250px;
				z-index: 1;
				border-radius:20px;
				box-shadow: 0 0 0 3px #1194ee;
			}
			.images ul{
				position: absolute;
				left: 0px;
				animation: image 20s ease-in-out infinite;
			}
			@keyframes image{
				0%{left: 0px;}
				30%{left: -500px;}
				60%{left: -1000px;}
				90%{left: -1500px;}
				100%{left: 0px;}
			}
			.images ul li{
				width: 500px;
				position: absolute;
			}
			.images li img{
				width: 100%;
			}
			
			li:nth-child(1){
				left: 0px;
			}
			li:nth-child(2){
				left: 500px;
			}
			li:nth-child(3){
				left: 1000px;
			}
			li:nth-child(4){
				left: 1500px;
			}
			


