.denglu{
	position: absolute;
	top: 20px;
	left: 50px;
	width: 80px;
	height: 30px;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-image:linear-gradient(to right,#00dbde 0%,#fc00ff 100%) ;
	border-radius:17px ;
}

.gedan{
	position: absolute;
	top: 18px;
	left: 12%;
	width: 80px;
	height: 30px;
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	background-image:linear-gradient(to right,#00dbde 0%,#f0894f 100%) ;
	
}
